@charset "UTF-8";

@font-face {
    font-family: Muller;
    src: url(MullerLight.eot);
    src: local("Muller Light"),
        local("MullerLight"), url(/static/fonts/MullerLight.eot?#iefix) format("embedded-opentype"), url(/static/fonts/MullerLight.woff2) format("woff2"), url(/static/fonts/MullerLight.woff) format("woff"), url(/static/fonts/MullerLight.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Muller;
    src: url(MullerRegular.eot);
    src: local("Muller Regular"),
        local("MullerRegular"), url(/static/fonts/MullerRegular.eot?#iefix) format("embedded-opentype"), url(/static/fonts/MullerRegular.woff2) format("woff2"), url(/static/fonts/MullerRegular.woff) format("woff"), url(/static/fonts/MullerRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Muller;
    src: url(MullerMedium.eot);
    src: local("Muller Medium"),
        local("MullerMedium"), url(/static/fonts/MullerMedium.eot?#iefix) format("embedded-opentype"), url(/static/fonts/MullerMedium.woff2) format("woff2"), url(/static/fonts/MullerMedium.woff) format("woff"), url(/static/fonts/MullerMedium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Muller;
    src: url(MullerBold.eot);
    src: local("Muller Medium"),
        local("MullerMedium"), url(/static/fonts/MullerBold.eot?#iefix) format("embedded-opentype"), url(/static/fonts/MullerBold.woff2) format("woff2"), url(/static/fonts/MullerBold.woff) format("woff"), url(/static/fonts/MullerBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    vertical-align: baseline;
    font-style: inherit;
    font-size: 14px;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none
}

* {
    font-family: Muller;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0
}

:focus {
    outline: 0
}

body {
    background-color: #000;
    color: #f7f7f7
}

.btn,
a {
    transition: .4s linear;
    -webkit-transition: .4s linear
}

.container {
    max-width: 950px;
    position: relative;
    margin: auto;
    padding: 0 15px;
    width: 100%
}

.nav-toggle {
    position: absolute;
    height: 20px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    cursor: pointer;
    display: none
}

.nav-toggle .bar {
    position: absolute;
    border-radius: 1px;
    background-color: #fff;
    width: 100%;
    height: 3px;
    left: 0;
    transition: .4s
}

.nav-toggle .bar-1 {
    top: 0;
    width: 90%
}

.nav-toggle .bar-2 {
    top: 7px
}

.nav-toggle .bar-3 {
    top: 14px;
    width: 80%
}

.nav-toggle.active .bar-1 {
    top: 7px;
    transform: rotate(45deg);
    width: 100%
}

.nav-toggle.active .bar-2 {
    opacity: 0
}

.nav-toggle.active .bar-3 {
    width: 100%;
    transform: rotate(-45deg);
    top: 7px
}

.header {
    padding-top: 40px;
    margin-bottom: 100px
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header__logo {
    font-size: 0
}

.header__logo a {
    max-width: 185px;
    display: block;
    font-size: 0;
    width: 100%
}

.header img {
    width: 70%
}

.header__nav,
.header__right {
    display: flex;
    align-items: center
}

.header li {
    margin-right: 25px
}

.header li a {
    font-size: 16px;
    color: #b7b7b7;
    text-decoration: none;
    font-weight: 300
}

.header li a:hover {
    color: #fff
}

.header__lang-cur {
    font-size: 16px;
    color: #f7f7f7;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase
}

.header__lang-cur:hover {
    color: #fff
}

.content {
    overflow: hidden
}

.content__title {
    font-size: 40px;
    line-height: 1;
    color: #f7f7f7;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500
}

.content__description {
    text-align: center;
    color: #999;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 65px
}

.home__search-clear {
    position: absolute;
    top: 50%;
    right: 98px;
    transform: translateY(-50%);
    font-size: 0;
    display: none
}

.home__search-label:after {
    position: absolute;
    content: "";
    background: url(/youtube.svg) center no-repeat;
    left: 18px;
    top: 50%;
    width: 25px;
    height: 18px;
    transform: translateY(-50%);
    filter: grayscale(100%);
    transition: .4s
}

.home__search.write-input .home__search-clear {
    display: block
}

.home__search.write-input .form-control {
    border-color: #d12f67
}

.home__search.write-input .home__search-label:after {
    filter: grayscale(0)
}

.home .form-group {
    margin: 0 auto;
    max-width: 565px;
    width: 100%;
    position: relative
}

.home .form-control {
    width: 100%;
    border-radius: 13px;
    background-color: #0d0d0d;
    height: 68px;
    padding: 0 130px 0 65px;
    font-size: 16px;
    color: #f7f7f7;
    transition: .4s;
    border: 1px solid #666
}

.home .form-control::placeholder {
    color: #575757;
    font-size: 18px;
    font-weight: 300
}

.home .form-control:focus {
    border-color: #d12f67
}

.home .btn {
    position: absolute;
    border-radius: 13px;
    background: #eb3345;
    background: -moz-linear-gradient(-45deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0, #eb3345), color-stop(30%, #eb3345), color-stop(100%, #ac2996));
    background: -webkit-linear-gradient(-45deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: -o-linear-gradient(-45deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: -ms-linear-gradient(-45deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: linear-gradient(135deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    width: 72px;
    height: 52px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    cursor: pointer
}

.home .btn:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 13px;
    background: url(/search.svg) center no-repeat;
    content: ""
}

.home .btn:hover {
    background: #eb3345;
    background: -moz-linear-gradient(135deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: -webkit-linear-gradient(135deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: -o-linear-gradient(135deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: -ms-linear-gradient(135deg, #eb3345 0, #eb3345 30%, #ac2996 100%);
    background: linear-gradient(-45deg, #eb3345 0, #eb3345 30%, #ac2996 100%)
}

.home__info {
    display: table;
    margin: 30px auto 30px;
    position: relative
}

.home__info-image {
    font-size: 0;
    max-width: 118%
}

.home__info-text {
    position: absolute;
    bottom: 18px;
    right: 50px;
    font-size: 13px;
    line-height: 2;
    width: 160px;
    text-align: center;
    font-style: italic
}

.home__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 100px
}

.hl-item {
    width: 43%;
    padding: 0 15px;
    margin-bottom: 60px
}

.hl-item__icon {
    position: relative;
    text-align: center;
    display: table;
    margin: 0 auto 32px;
    height: 132px;
    line-height: 132px
}

.hl-item__icon.second .icon-2 {
    bottom: 20px;
    right: 14px;
    margin: auto;
    left: 0
}

.hl-item__img {
    font-size: 0;
    vertical-align: middle
}

.hl-item__img.icon-2 {
    position: absolute;
    left: 34px;
    bottom: 50px
}

.hl-item__title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 18px
}

.hl-item-text {
    font-size: 15px;
    color: #999;
    line-height: 28px;
    text-align: center
}

.footer {
    margin-bottom: 50px
}

.footer__copy {
    text-align: center;
    font-size: 15px;
    color: #999;
    font-weight: 300;
    line-height: 1.8
}

.footer a {
    line-height: 1.8;
    text-decoration: none;
    color: #dd3158;
    font-size: 15px
}

.footer a:hover {
    color: #c7173f
}

.search-item {
    max-width: 550px;
    margin: 45px auto 150px;
    display: flex;
    flex-wrap: wrap
}

.search-item__image {
    border-radius: 10px;
    background-color: #e8e8e8;
    width: 188px;
    height: 143px
}

.search-item__info {
    width: calc(100% - 188px);
    padding-left: 23px
}

.search-item__title {
    text-decoration: none;
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    /*white-space: nowrap;*/
    display: block;
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.search-item .jq-selectbox {
    width: 174px
}

.search-item .jq-selectbox select {
    display: none
}

.search-item .jq-selectbox .jq-selectbox__select {
    border-radius: 5px;
    background-color: #0f0f0f;
    height: 50px;
    width: 100%;
    padding: 0 45px 0 22px;
    cursor: pointer
}

.search-item .jq-selectbox .jq-selectbox__select-text {
    width: 100%;
    display: block;
    align-items: center;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 50px
}

.search-item .jq-selectbox .jq-selectbox__trigger-arrow {
    position: absolute;
    background: url(/static/images/arrow.svg) center no-repeat;
    width: 12px;
    height: 7px;
    right: 24px;
    top: 50%;
    transform: translateY(-50%)
}

.search-item .jq-selectbox .jq-selectbox__dropdown {
    border-radius: 0 0 5px 5px;
    background-color: #0f0f0f;
    right: 0;
    left: 0;
    top: 100%;
    border-top: 1px solid #fff
}

.search-item .jq-selectbox .jq-selectbox__dropdown li {
    font-size: 15px;
    padding: 6px 20px;
    cursor: pointer
}

.search-item .jq-selectbox .jq-selectbox__dropdown li:hover {
    color: #0f0f0f;
    background: #fff
}

.search-item .jq-selectbox.opened .jq-selectbox__select {
    border-radius: 5px 5px 0 0
}

.search-item__option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 11px
}

.search-item__download {
    border-radius: 5px;
    width: 139px;
    height: 50px;
    display: flex;
    font-size: 16px;
    color: #d52f62;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #d12f67
}

.search-item__download:hover {
    background-color: #d12f67;
    color: #fff
}

.search-item__times {
    font-size: 0
}

.search-item .time {
    border-radius: 5px;
    background-color: #0f0f0f;
    width: 98px;
    height: 45px;
    border: 0;
    text-align: center;
    font-size: 13px;
    color: grey;
    margin-right: 4px
}

.inner-content .container {
    margin: auto;
    max-width: 730px
}

.inner-content .content__title {
    text-align: left;
    font-size: 32px;
    font-weight: 600
}

.faq-list {
    padding-bottom: 75px
}

.faq-item__title {
    font-size: 18px;
    color: grey;
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: 15px 0;
    line-height: 1.5;
    border-top: 1px solid #1f1f1f;
    cursor: pointer;
    transition: .4s
}

.faq-item__title.active {
    color: #f7f7f7;
    border-bottom-color: transparent
}

.faq-item__text {
    font-size: 16px;
    color: #f7f7f7;
    line-height: 2;
    display: none;
    padding-bottom: 20px
}

.faq-item:last-child {
    border-bottom: 1px solid #1f1f1f
}

.news {
    padding: 15px 0 50px
}

.news__item {
    margin-bottom: 20px
}

.news__item-title {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #f7f7f7;
    line-height: 1.7;
    margin-bottom: 5px;
    display: inline-block
}

.news__item-text {
    font-size: 18px;
    line-height: 1.7;
    color: #999;
    margin-bottom: 4px
}

.news__item-date {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    line-height: 1.7
}

.new {
    padding-bottom: 100px
}

.new__date {
    font-size: 15px;
    color: #b2b2b2;
    line-height: 2;
    margin-bottom: 15px;
    display: block
}

.new p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 25px
}

.jq-checkbox,
.jq-radio {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.jq-checkbox input,
.jq-radio input {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    opacity: 0
}

.jq-file {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.jq-file input {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 100px;
    line-height: 1em
}

.jq-file__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.jq-select-multiple,
.jq-selectbox {
    position: relative;
    display: inline-block
}

.jq-select-multiple select,
.jq-selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0
}

.jq-select-multiple li,
.jq-selectbox li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

.jq-selectbox {
    z-index: 10
}

.jq-selectbox__select {
    position: relative
}

.jq-selectbox__select-text {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis
}

.jq-selectbox__dropdown {
    position: absolute
}

.jq-selectbox__search input {
    -webkit-appearance: textfield
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
    -webkit-appearance: none
}

.jq-selectbox__dropdown ul {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    list-style: none;
    -webkit-overflow-scrolling: touch
}

.jq-select-multiple ul {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.jq-number {
    display: inline-block
}

.jq-number__field input {
    -moz-appearance: textfield;
    text-align: left
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

@media (max-width:600px) {
    .nav-toggle {
        display: block;
        left: 15px
    }

    .header {
        padding-top: 18px;
        margin-bottom: 40px
    }

    .header__lang {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%)
    }

    .header .container {
        justify-content: center
    }

    .header__nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        display: none;
        flex-wrap: wrap;
        padding: 15px 0;
        background: #000;
        z-index: 20
    }

    .header__nav li {
        padding: 4px 15px
    }

    .content__title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 12px
    }

    .content__description {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 18px
    }

    .home .form-control {
        font-size: 14px;
        padding: 0 75px 0 42px;
        height: 59px
    }

    .home .form-control::placeholder {
        font-size: 14px
    }

    .home__search-label:after {
        width: 18px;
        background-size: contain
    }

    .home__search-clear {
        right: 68px
    }

    .home .btn {
        width: 48px;
        height: 39px
    }

    .home .btn:after {
        background-size: 18px auto
    }

    .home__search.write-input .form-control {
        padding: 0 88px 0 42px
    }

    .home__info-text {
        right: -4px;
        font-size: 11px;
        line-height: 18px;
        width: 138px;
        bottom: 8%
    }

    .home__info {
        margin: 20px 0 70px
    }

    .hl-item {
        width: 100%
    }

    .home__list {
        padding-bottom: 10px
    }

    .hl-item__icon {
        margin-bottom: 25px
    }

    .hl-item__title {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 8px
    }

    .hl-item-text {
        font-size: 13px;
        line-height: 23px
    }

    .footer__copy,
    .footer__copy a {
        font-size: 13px
    }

    .search-item {
        display: block;
        margin: 25px auto 40px
    }

    .search-item__image {
        margin: 0 auto 28px
    }

    .search-item__info {
        padding-left: 0;
        width: 100%
    }

    .search-item__title {
        font-size: 16px
    }

    .inner-content .content__title {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 18px
    }

    .faq-item__title {
        font-size: 15px
    }

    .faq-item__text {
        font-size: 14px;
        line-height: 1.8
    }

    .faq-list {
        padding-bottom: 100px
    }

    .news {
        padding: 0 0 45px
    }

    .news__item-title {
        font-size: 18px
    }

    .news__item-text {
        font-size: 15px;
        line-height: 1.9
    }

    .news__item-date {
        font-size: 13px
    }

    .new__date {
        font-size: 13px;
        margin-bottom: 5px
    }

    .new p {
        font-size: 16px;
        line-height: 30px
    }
}

@media (max-width:450px) {
    .search-item .jq-selectbox {
        width: 100%
    }

    .search-item__download {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: auto
    }

    .search-item__info {
        position: relative;
        padding-bottom: 64px
    }
}

.footer ul {
    margin-top: 10px;
    font-size: 0;
}

.footer ul li {
    display: inline;
}

.footer ul li:not(:last-child):after {
    content: "-";
    padding: 5px;
}

.js-modal-btn {
    cursor: pointer;
}

option {
    font-size: 16px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    font-size: 16px;
    height: 50px;

    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #d52f62;
    border-radius: 5px;
    background: #1a1a1a;
    color: #f7f7f7;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #f7f7f7;
    background: #0f0f0f;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #d52f62;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-color: #d52f62;
}

.select select:disabled~.select_arrow {
    border-top-color: #d52f62;
}

.modal-video {
    background-color: rgba(172, 41, 150, 0.09);
}

.search-item__image {
    border: 1px solid #560f23;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;

    position: relative;
    display: flex;
    justify-content: center;

    background-size: cover;
    background-position: center;
}

.search-item__image:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    content: "";
    border-style: solid;
    border-width: 15px 0 13px 28px;
    border-color: transparent transparent transparent #d52f62;
}

.search-item .select {
    width: 48%;
}

.search-item__info {
    /* width: calc(100% - 188px); */
    /* padding-left: 23px; */
    width: 100%;
    padding-left: 0;
}

.search-item__download {
    width: 48%;
}

.search-item__option {
    margin-bottom: 0;
}

/* .search-item__title {
    white-space: normal;
    max-height: 42px;
    overflow: hidden;
} */

@media (max-width:450px) {
    .search-item .select {
        /*width: 100%;*/
        width: 48%;
    }

    .search-item__download {
        width: 48%;
        position: relative;
    }

    .search-item__info {
        padding-bottom: 0;
    }

    .search-item__title {
        max-height: 36px;
    }
}

.footer {
    margin-top: 30px;
}


/*****************/

.header__lang .select {
    margin-right: 15px;
    margin-bottom: 0;
}

.header__lang .select_arrow {
    top: 12px;
    right: 10px;
}

.header__lang .select select {
    height: auto;
}

/*****************/
.z7 {
    position: absolute;
    width: 100%;
    left: -1px;
    margin-top: 6px;
    background: #0d0d0d;
    /*border: 1px solid #560f23;*/
    border: 0;
    border-width: 0 1px 1px;
    list-style: none;
    text-align: left;
    overflow: hidden;
    z-index: 9;
}

.z7 li a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #f7f7f7;
    cursor: pointer;
}



input[type=submit] {
    border: 1px solid #d52f62;
    color: #f7f7f7;
    background: #0f0f0f;
    padding: 5px;
}

.p-article {
    line-height: 1.7em;
}

.p-article h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
}

.p-article p {
    margin-bottom: 15px;
}

.p-article ul {
    margin-bottom: 15px;
    margin-left: 20px;
}

.p-article li {
    list-style: circle;
}

.p-article a {
    text-decoration: underline;
    color: #dd3158;
}

.faq-item__text img {
    width: 99%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    border: 1px #dd3158 dashed;

}

.grecaptcha-badge {
    display: none !important;
}

.contact .form-group {
    margin: 0 auto;
    max-width: 565px;
    width: 100%;
    position: relative;
}

.contact input,
.contact textarea {
    width: 100%;
    max-width: 100%;
    margin-top: 8px;
    padding: 4px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.search-item__download {
    cursor: pointer;
}